
  <h1>Welcome Bums!</h1>

  <p>This is a paragraph.</p>

  <!DOCTYPE html>
<html>

<body>
 <h2>FSU</h2>
 <a href="fsu.edu"<a>
 	<img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10406576_10152444265421034_830620509782081163_n.jpg?oh=c47cfc9bb4ac34f78b8773e5c1d7b5aa&oe=54D32A51&__gda__=1423578842_891ed4d7f7d21d67590928cdbbcd8b59, https://www.facebook.com/photo.php?fbid=10152444265421034&set=a.427788851033.211255.531421033&type=1&theater" alt="Mountain View" style="width:304px;height:228px">
 	</a>
 	
</body>

</html>

</body>

</html>


