
  <h1>Welcome Bums!</h1>

  <p>This is a paragraph.</p>

  <!DOCTYPE html>
<html>

<body>
 <h2>FSU</h2>
 <a href="fsu.edu"<a>
 	<img src=https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTqI6kSfe9RKqmlEz9ClVIOiLimAgiQ9f4P0QMu79iLRGkOpC3a alt="Mountain View" style="width:640px;height:640px"/> 
 	</a>

</body>

</html>

</body>

</html>


