<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<ul>
  <li>Burgers</li>
  <li>Fries/li>
  <li>Milk</li>
</ul>
 <h2>FSU</h2>
 <a href="www.primetimetallahassee.com"<a>
 	<img src=http://primetimetallahassee.com/wp-content/uploads/2014/09/Big-Beast-4-700x453.jpg/> 
 	</a>
