<!DOCTYPE html>
<html lang="en">
<head>
<title>Internship</title>
<meta charset="UTF-8">

<link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
<!--added stuff-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/half-slider.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   
     <!-- jQuery -->
    <script src="assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="http://static.tumblr.com/7qjmkr5/IUmmdsy41/jquery.style-my-tooltips.js"></script>
<script>
    (function($){
        $(document).ready(function(){
            $("[title]").style_my_tooltips();
        });
    })(jQuery);
</script>
    
       <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/carina/about">About</a></li>
        <li>
            <a href="/carina/projects">Projects &#9662;</a>
            <ul class="dropdown">
                <li><a href="/carina/website" title="such website">This Website</a></li>
                <li><a href="/carina/prototype" title="much basic">Prototype Website</a></li>
                <li><a href="/carina/coding" title="very wow">Ruby/HTML/CSS/Javascript</a></li>
                <li><a href="/carina/hackathon" title="exciting">Hackathon</a></li>
            </ul>
         </li>
         <li>
            <a href="/carina/experiences">Experiences &#9662;</a>
            <ul class="dropdown">
                <li><a href="/carina/expectations" title="judgment day">Expectations VS Reality</a></li>
                <li><a href="/carina/takeaways" title="ft. advice from cb employees">Ultimate Takeaways</a></li>
                <li><a href="/carina/interns" title="interns are cool">Working With Interns</a></li>
            </ul>
        </li>
        <li><a href="/carina/contact">Contact</a></li>
    </ul>
<h1 id="pretty-h1">CareerBuilder Internship</h1>
<div class="p2" style='width:50%; float:left'><h3 id="cool">Narcissistic Pictures</h3>
<img src='/assets/1436288353709.jpg' style="width:100%"/><br>

</div>
<div class="p1" style='width:50%; float:right'><h3  id="cool">About the Intern</h3>
    <p>Sup? I'm Carina. I'm a rising junior at the Gwinnett School of Math, Science, and Technology (GSMST). It's a nerd school, and I feel like I fit in with the others who go there. I would consider myself pretty creative, since I like drawing, painting, and designing. I like kittens and netflix. I also like pizza.</p>
    <img src="/assets/1433952554144.jpg" style="width:50%"/><img src="/assets/IMG_20150625_212524.jpg" style='width:50%'/>
    
</div>
<div class="p2" style='clear:both'> <h3 id="cool">School Stuff</h3>
    <p>I was part of the GSMST Robotics Club (Robodragons) for the past two years which was super cool! I was in the VEX robotics division and went to all sorts of rad competitions at different schools. I even made a logo for my team!</p>
    <p><img id="robodragon" src='/assets/675E.jpg' /></p>
    <p>I was also inducted into the school's National Honor Society in sophomore year, so I guess that means I really am 100% nerd.</p>
    <p>I'm gonna be drowning in schoolwork next year, but I intend to retain my place in the National Honor Society (because if you get kicked out then you can't join back in) and I'm thinking about being part of GSMST's Science Olympiad team.</p>    
</div>
<div class="p1"><h3 id="cool">Other Interests?</h3>
    <p>Music: Fall Out Boy, Panic! at the Disco, etc. Yes you can call me emo</p>
    <p>TV: Breaking Bad, Orange is the New Black</p>
    <p>Internets:Tumblr, Buzzfeed, Youtube</p>

<br>



 


</body>
<footer> &copy; 2015 Carina Rojanaroj</footer>
</html>
