<!DOCTYPE html>
<html lang="en">
<head>
<title>Internship</title>
<meta charset="UTF-8">

    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="http://static.tumblr.com/7qjmkr5/IUmmdsy41/jquery.style-my-tooltips.js"></script>
<script>
    (function($){
        $(document).ready(function(){
            $("[title]").style_my_tooltips();
        });
    })(jQuery);
</script>
    
       <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/carina/about">About</a></li>
        <li>
            <a href="/carina/projects">Projects &#9662;</a>
            <ul class="dropdown">
                <li><a href="/carina/website" title="such website">This Website</a></li>
                <li><a href="/carina/prototype" title="much basic">Prototype Website</a></li>
                <li><a href="/carina/coding" title="very wow">Ruby/HTML/CSS/Javascript</a></li>
                <li><a href="/carina/hackathon" title="exciting">Hackathon</a></li>
            </ul>
         </li>
         <li>
            <a href="/carina/experiences">Experiences &#9662;</a>
            <ul class="dropdown">
                <li><a href="/carina/expectations" title="judgment day">Expectations VS Reality</a></li>
                <li><a href="/carina/takeaways" title="ft. advice from cb employees">Ultimate Takeaways</a></li>
                <li><a href="/carina/interns" title="interns are cool">Working With Interns</a></li>
            </ul>
        </li>
        <li><a href="/carina/contact">Contact</a></li>
    </ul>
<h1 id="pretty-h1">CareerBuilder Internship</h1>
<div class="p1"><h3  id="cool">Coding Stuff!</h3>
<p>Over the course of my internship, I learned the basics of 4 coding languages: HTML, CSS, Ruby, and Javascript. I learned like the real basics of basic stuff and I can't even show a demo of what I learned in Javascript because I don't know how to activate a javascript code on click.</p>
<p>I learned HTML/CSS and Javascript on Codecademy (incredible site, 10/10 ign), but the Tech Talent South class I had later on in my internship covered HTML and CSS as well, so I basically relearned everything in that class. I never got to finish my training for Javascript in Codecademy since I was preoccupied with other projects throughout the course of my internship, but I do plan on continuing that course later. I learned most of my Ruby skills in the Tech Talent South class, but my coworker Brent Fisher taught me some more advanced Ruby commands when settingmy website up on Ruby on Rails.</p>
</div>
<div class="p2"><h3  id="cool">Demos?</h3>
    <p>HTML/CSS: The website you're looking at right now and my <a href="/carina/prototype">prototype website</a></p>
    <p>Javascript: No demo available, sorry. Only screenshots</p>
    <p><img src='/assets/js.jpG' style="width:100%"/></p>
    <p><img src="/assets/js2.jpg"style="width:100%"/></p>
    <p>Ruby: No demo available for this either :( More screenshots</p>
     <p><img src="/assets/ruby.jpg"style="width:100%"/></p>
      <p><img src="/assets/ruby1.jpg"style="width:100%"/></p>
       <p><img src="/assets/ruby2.jpg"style="width:100%"/></p>
        <p><img src="/assets/ruby3.jpg"style="width:100%"/></p>
</div>
<br>



 


</body>
<footer> &copy; 2015 Carina Rojanaroj</footer>
</html>
