<!DOCTYPE html>
<html lang="en">
<head>
<title>Internship</title>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="http://static.tumblr.com/7qjmkr5/IUmmdsy41/jquery.style-my-tooltips.js"></script>
<script>
    (function($){
        $(document).ready(function(){
            $("[title]").style_my_tooltips();
        });
    })(jQuery);
</script>
    
       <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/carina/about">About</a></li>
        <li>
            <a href="/carina/projects">Projects &#9662;</a>
            <ul class="dropdown">
                <li><a href="/carina/website" title="such website">This Website</a></li>
                <li><a href="/carina/prototype" title="much basic">Prototype Website</a></li>
                <li><a href="/carina/coding" title="very wow">Ruby/HTML/CSS/Javascript</a></li>
                <li><a href="/carina/hackathon" title="exciting">Hackathon</a></li>
            </ul>
         </li>
         <li>
            <a href="/carina/experiences">Experiences &#9662;</a>
            <ul class="dropdown">
                <li><a href="/carina/expectations" title="judgment day">Expectations VS Reality</a></li>
                <li><a href="/carina/takeaways" title="ft. advice from cb employees">Ultimate Takeaways</a></li>
                <li><a href="/carina/interns" title="interns are cool">Working With Interns</a></li>
            </ul>
        </li>
        <li><a href="/carina/contact">Contact</a></li>
    </ul>
<h1 id="pretty-h1">CareerBuilder Internship</h1>
<div class="p1"><h3 id="cool">Expectations vs Reality</h3>
<p>Spoiler alert: The reality far exceeds my expectations.</p>
<table border="1" style="width:100%">
     <tr>
            <td style="color:pink">Expectations</td>
            <td style="color:pink">Reality</td>
        </tr>
        <tr>
            <td>Everyone's confined to their cubicles</td>
            <td>So much freedom that I don't even know what to do with it</td>
        </tr>
         <tr>
            <td>Have to ask people for permission to do something/go somewhere</td>
            <td>People don't really care what you do as long as you don't cause trouble</td>
        </tr>
         <tr>
            <td>Coworkers would treat interns as on a lower level than them</td>
            <td>Coworkers treat the interns as equals</td>
        </tr>
         <tr>
            <td>No food provided</td>
            <td>Free food everywhere, all the time</td>
        </tr>
         <tr>
            <td>Super strict, stereotypical business environment</td>
            <td>Incredibly casual, even more casual than students at school</td>
        </tr>
         <tr>
            <td>Stereotypical office employee mindset that their job sucks</td>
            <td>Everyone loves their job and is passionate about what they do</td>
        </tr>
         <tr>
            <td>Everyone here is a nerd</td>
            <td>Everyone here is actually a nerd</td>
        </tr>
         <tr>
            <td>No fun recreational activities to break up the monotony</td>
            <td>Ping pong, foosball, pool table, bikes, volleyball/basketball court...etc</td>
        </tr>
    </table>
<br>



 


</body>
<footer> &copy; 2015 Carina Rojanaroj</footer>
</html>
