<!DOCTYPE html>
<html lang="en">
<head>
<title>Internship</title>
<meta charset="UTF-8">

<link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
<!--added stuff-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/half-slider.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   
     <!-- jQuery -->
    <script src="assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

    <!-- my css is top priority-->
    <link href="/assets/style.css" rel="stylesheet">
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="http://static.tumblr.com/7qjmkr5/IUmmdsy41/jquery.style-my-tooltips.js"></script>
<script>
    (function($){
        $(document).ready(function(){
            $("[title]").style_my_tooltips();
        });
    })(jQuery);
</script>
	
	   <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/carina/about">About</a></li>
        <li>
            <a href="/carina/projects">Projects &#9662;</a>
            <ul class="dropdown">
                <li><a href="/carina/website" title="such website">This Website</a></li>
                <li><a href="/carina/prototype" title="much basic">Prototype Website</a></li>
                <li><a href="/carina/coding" title="very wow">Ruby/HTML/CSS/Javascript</a></li>
                <li><a href="/carina/hackathon" title="exciting">Hackathon</a></li>
            </ul>
         </li>
         <li>
            <a href="/carina/experiences">Experiences &#9662;</a>
            <ul class="dropdown">
                <li><a href="/carina/expectations" title="judgment day">Expectations VS Reality</a></li>
                <li><a href="/carina/takeaways" title="ft. advice from cb employees">Ultimate Takeaways</a></li>
                <li><a href="/carina/interns" title="interns are cool">Working With Interns</a></li>
            </ul>
        </li>
        <li><a href="/carina/contact">Contact</a></li>
    </ul>
<h1 id="pretty-h1">CareerBuilder Internship</h1>

 <!-- added stuff-->
 

    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('assets/20150625_155945.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Showing off my initial website at HTML/CSS class with Tech Talent South</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('assets/CBgirls.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Obligatory First Day of Internship group pose :O</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('assets/2k15 Girls In Tech.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Initial Spring Interview Day</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
    <!-- /.container -->

   
    <!--end added stuff-->
<br>
<div class="p1"><h3  id="cool">The Internship</h3>
	<p>For the past five weeks, I have been interning at CareerBuilder. I've learned a lot here and I've made a few new connections who are interesting, to say the least. I've had great conversations with the employees here, and I've had some great moments with the other summer interns. I've had an overall positive experience here, and I'm truly grateful for the opportunity to work here.</p></div>

<div class="p2"><h3  id="cool">The Intern</h3>
	<p>My name's Carina, and I'll be a junior at GSMST next year. I've recently made the decision to major in computer science, which is what got me interested in the internship position here at CareerBuilder. I've learned some code informally over the past 3 years, but I only received training in a more traditional classroom setting once I started my internship here.</p></div>

<div class="p1"><h3  id="cool">Future Goals</h3>
	<p>I would consider myself a pretty ambitious person. My top choices for college are Ivy Leagues, Georgia Tech, Duke, and Stanford. Outside of academics, I want to improve my graphic design skills and artistry (like traditional medium on canvas stuff). I'm also interested in performing music, so learning new instruments is also one of my goals. In addition to that, I plan to watch every episode of Naruto. All. 700+. Episodes. </p>
	<h6>just kidding</h6></div>
<br>



 


</body>
<footer> &copy; 2015 Carina Rojanaroj</footer>
</html>
