<!DOCTYPE html>
<html>
<head>
<title>SUP FAM</title>
<meta charset="UTF-8">
<link href="/assets/style.css" rel="stylesheet">
</head>
<body>
<h1>About Me</h1>
<p>Today I'm learning how to code. Puppies are great. Cats are great also</p>
<h2>Things I like</h2>
<ul>
  <div><li>Dogs<br><img class="round" src="assets/doge.jpeg" alt="doge"></li></div>
  <div><li>Cats<br><img class="round" src="assets/cat.jpg" alt="cat"></li></div>
  <div><li>Unicorns<br><img class="round" src="assets/unicorn.jpg" alt="unicorn"></li></div>
  <li> Taylor Swift<br><img class="round" src="assets/tswift.jpg" alt="Tswift"></li>
</ul>
<a title="you are hovering over this what are you doing" href="http://coolbeans.com" class="tooltip">cool beans</a>


</body>
<footer> &copy; 2015 Carina Rojanaroj</footer>
</html>
