<!DOCTYPE html>
<html lang="en">
<head>
<title>Internship</title>
<meta charset="UTF-8">

<link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
<!--added stuff-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/half-slider.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   
     <!-- jQuery -->
    <script src="assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

    <!-- my css is top priority-->
    <link href="/assets/style.css" rel="stylesheet">
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="http://static.tumblr.com/7qjmkr5/IUmmdsy41/jquery.style-my-tooltips.js"></script>
<script>
    (function($){
        $(document).ready(function(){
            $("[title]").style_my_tooltips();
        });
    })(jQuery);
</script>
    
       <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/carina/about">About</a></li>
        <li>
            <a href="/carina/projects">Projects &#9662;</a>
            <ul class="dropdown">
                <li><a href="/carina/website" title="such website">This Website</a></li>
                <li><a href="/carina/prototype" title="much basic">Prototype Website</a></li>
                <li><a href="/carina/coding" title="very wow">Ruby/HTML/CSS/Javascript</a></li>
                <li><a href="/carina/hackathon" title="exciting">Hackathon</a></li>
            </ul>
         </li>
         <li>
            <a href="/carina/experiences">Experiences &#9662;</a>
            <ul class="dropdown">
                <li><a href="/carina/expectations" title="judgment day">Expectations VS Reality</a></li>
                <li><a href="/carina/takeaways" title="ft. advice from cb employees">Ultimate Takeaways</a></li>
                <li><a href="/carina/interns" title="interns are cool">Working With Interns</a></li>
            </ul>
        </li>
        <li><a href="/carina/contact">Contact</a></li>
    </ul>
<h1 id="pretty-h1">CareerBuilder Internship</h1>

<br>
<div class="p2"> <h3 id="cool"> General takeaways </h3>
    <p>I have learned a lot ever since I came to CareerBuilder. My experience has been overwhelmingly positive, but there were also a few issues that impeded my progress in getting the most out of my internship. However, the benefits overwhelmingly outweigh the cons.</p>
<br>
    <table border="1" style="width:100%">
        <tr>
            <td>Positive Experiences</td>
            <td>Negative Experiences</td>
        </tr>
        <tr>
            <td>Casual environment<br>
                Cool company culture<br>
                General stress-free environment<br>
                Friendly and helpful coworkers<br>
                Free food all the time <br>
                Everyone likes to express themselves<br>
                Disciplined freedom<br>
            </td>
            <td>
                PC laptops difficult to work with<br>
                Internship program seemed a little disorganized<br>
                Pushing doors when they clearly say pull<br>
                Pulling doors when they clearly say push<br>
                Pushing "pull" doors when they don't say anything<br>

            </td>
        </tr>
    </table>
    <h4 style="text-align: center">*The negative experiences table isn't meant to offend anyone. Just hoping it'll be used as constructive feedback</h4>
</div>
<div class="p1"> <h3 id="cool"> One-on-one takeaways</h3>
    <p>Throughout the first two-three weeks of my internship, I had one-on-ones with various people throughout the company in different disciplines. This is to get a taste of a little bit of everything CareerBuilder had to offer and to get some insight into everything that is required for the company and the website to run smoothly. However, when talking with the different people, I learned more than just what goes into their job. </p>
<table border="1" style="width:100%">
        <tr>
            <td>General Takeaways</td>
            <td> Employee-specific Takeaways</td>
        </tr>
        <tr>
            <td>Do what you love and be passionate about your work</td>
            <td>Never stop learning, no matter how old you get-Jeff Yeary</td>
        </tr>
        <tr>
            <td>Employees here are incredibly knowledgeable</td>
            <td>Face-to-face meetings are the best for collecting user data-Anna Steadham</td>
        </tr>
        <tr>
            <td>Don't stay at a company for too long and exhaust all your resources</td>
            <td>Name your databases after Transformers-SiteDB</td>
        </tr>
        <tr>
            <td>Take advantage of all the free food</td>
            <td>Math and computer science are closely related, so it's easy<br>
             to change from a math major to a compsci major -Thomas Rega</td>
        </tr>
        <tr>
            <td>Don't follow your dream, follow computer science</td>
            <td>Go out and follow some tech blogs. Keep up with the upcoming technology-Stephanie Catalano</td>
        </tr>
    </table>
<!--pretend there are some cool html css bubbles here etc-->
<br>



 


</body>
<footer> &copy; 2015 Carina Rojanaroj</footer>
</html>
