<!DOCTYPE html>
<html lang="en">
<head>
<title>Internship</title>
<meta charset="UTF-8">

<link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
<!--added stuff-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/half-slider.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   
     <!-- jQuery -->
    <script src="assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

    <!-- my css is top priority-->
    <link href="/assets/style.css" rel="stylesheet">
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="http://static.tumblr.com/7qjmkr5/IUmmdsy41/jquery.style-my-tooltips.js"></script>
<script>
    (function($){
        $(document).ready(function(){
            $("[title]").style_my_tooltips();
        });
    })(jQuery);
</script>
    
       <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/carina/about">About</a></li>
        <li>
            <a href="/carina/projects">Projects &#9662;</a>
            <ul class="dropdown">
                <li><a href="/carina/website" title="such website">This Website</a></li>
                <li><a href="/carina/prototype" title="much basic">Prototype Website</a></li>
                <li><a href="/carina/coding" title="very wow">Ruby/HTML/CSS/Javascript</a></li>
                <li><a href="/carina/hackathon" title="exciting">Hackathon</a></li>
            </ul>
         </li>
         <li>
            <a href="/carina/experiences">Experiences &#9662;</a>
            <ul class="dropdown">
                <li><a href="/carina/expectations" title="judgment day">Expectations VS Reality</a></li>
                <li><a href="/carina/takeaways" title="ft. advice from cb employees">Ultimate Takeaways</a></li>
                <li><a href="/carina/interns" title="interns are cool">Working With Interns</a></li>
            </ul>
        </li>
        <li><a href="/carina/contact">Contact</a></li>
    </ul>
<h1 id="pretty-h1">CareerBuilder Internship</h1>
<div class="p2"><h3 id="cool">Disclaimer?</h3>
    <p>¯\_(ツ)_/¯ GIANT WALL OF TEXT COMING UP ¯\_(ツ)_/¯</p>
</div>
<div class="p1"><h3 id="cool">This Website</h3>
    <p>This website was made in roughly a week. It's built on Ruby on Rails using HTML and CSS. It's still pretty basic, but it is a major step up from the <a href="/carina/prototype" style="font-family:'Poiret One'">website</a> I created in 4 hours for the Tech Talent South class.</p>
    <p>The entire folder with all the code, controllers, assets, views, etc. for this website is on GitHub, and that's how I've been publishing my coding changes. (Also I'm not working with Heroku, but since the domain is running on it, I'm having my coworkers Stephanie and Brent work on that end of the project.</p>
    <p>I was planning to implement a Google Analytics project into this website, but since working on the actual website design and content took forever, it wouldn't have been viable to include that project alongside this (I'm already pulling allnighters trying to write the content for this website ¯\_(ツ)_/¯)</p>
</div>
<div class="p2"><h3 id="cool">How the website became public</h3>
    <p>Again, this entire website is built on Ruby on Rails which is pretty rad since I've never worked with it before coming to this internship. I used Sublime Text to edit the HTML/CSS and the Ruby routes and controllers. For most of the week I was working on this, I was previewing my changes on my localhost every time I did something major so that I wouldn't have to go through the trouble of pushing my changes to GitHub every time I made a change.</p>
    <p>I'm borrowing Stephanie's domain to use for this website, since apparently she has no emotional attachment to her existing website and thought that I could use it since it's already live (in contrast to creating a whole new domain and working stuff out for that)<p>
</div>
<div class="p1"><h3 id="cool">Some cool people who helped me</h3>
    <p>Brent Fisher basically set up the entire website on Ruby on Rails, and he was always happy to help me with the website whenever I needed it. He taught me how to push all this code to GitHub and I learned some of the rails commands by shadowing what he did. He's incredible and pretty cool. Get rekt</p>
    <p> Stephanie Catalano let me use her already existing repository on GitHub and her domain to create this website. She also introduced me to all these cool opportunities to learn more about programming in general and even invited me to a UX training course to learn about wireframing and prototyping. She also gave me some good advice for the future.</p>
</div>
<br>


 
 


</body>
<footer> &copy; 2015 Carina Rojanaroj</footer>
</html>
