body { background-color: lightblue;
}

h1 {
  color: white;
  background-color: #E14607;
}

h2 { 
  color: darkred;
  padding-bottom: 10px;
  border-bottom: 2px dotted;
}


h1 {font-size:25;
  font-family:Verdana;
  color:#99f2de;
  text-align:center;
  border:1px solid purple;
}
img {width:400px;
  height:400px;
  border-radius: 100%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
h2 {font-size:20;
  font-family:Verdana;
background-color:#fabbbb;}
p {font-family:Arial;
  text-align:center;
color:#370969;}
li {font-family:Arial;}
a {text-decoration:none;
  color:purple;
font-family:'Indie+Flower', cursive;}
body {
  background-color:#f299ad;
}
footer {
  text-align: center;
  font-family:Georgia;
  border:1px solid #fabbbb;
  padding:5px;
}
div {
  float:left;
}
.round {
  border:4px solid #fabbbb;

}
.tooltip {
  display:inline;
  position:relative;
}
.tooltip:hover:after{
  background:#961a1a;
  border-radius:1px;
  bottom:26px;
  color:#ffffff;
  content:attr(title);
  left:20%;
  padding:5px 15px;
  position:absolute;
  z-index:98;
  width:220px;
  ;
}
